ul{

 display: flex;
 justify-content: flex-start;
 background-color: aqua;
 gap: 20PX;
 width: 20%;
 border: 10px;
 box-shadow: 2px 2px 2px;
 height: 40px;
 border-radius: 10px;
 padding-top: 10px;
 margin: auto;
}
li
{
  list-style: none;
}
.active{
  background-color: rgb(146, 146, 146);
  border-radius: 10px;
  height: 100px;
  width: 20px;
}
