/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

table
{

  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;

}
td{
  padding: 5px 20px;

}
.btn{
  margin: auto;
  margin-left: 530px;
  margin-top: 20px;
  background-color: aqua;
  border-radius: 5px;
}
