/* You can add global styles to this file, and also import other style files */



.whole-body{
  border: 2px solid black;
  background-color:rgb(250, 250, 250);
  margin-top: 10px;
  height: 490px;
  border-radius: 5px;

}

.inner-body{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 300px;
  top: 130px;

}
